@font-face {
  font-family: CircularStd;
  src: url("../fonts/Circular\ Std\ Book.ttf");
}

@font-face {
  font-family: Sailec;
  src: url("../fonts/Sailec\ Thin.ttf");
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

.cont-wrap {
  max-width: 1073px;
}

.gradient {
  width: 100%;
  height: 134px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(9, 29, 26, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  /* position: fixed; */
}

.js-burger {
  display: none;
}

.sub-head {
  font-family: CircularStd;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 1.28em;
  text-align: center;
}

.hr {
  width: 100%;
  max-width: 1724px;
  border: 1px solid #ffffff;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 1050px;
  max-height: 1078px;
  background: url(../images/hero/hero_1x.png) no-repeat center top;
  background-size: cover;
  color: #ffff;
  &__nav-wrap {
    width: 100%;
    margin-top: 41px;
  }
  &__nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-family: CircularStd;
    font-weight: 450;
    font-size: 16px;
  }
  &__logo-wrap {
    display: flex;
  }
  &__logo {
    height: 16px;
    border-spacing: 0;
  }
  &__text-wrap {
    height: 100%;
    max-width: 786px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__main-head {
    font-family: Domaine Sans Display;
    font-weight: 600;
    font-size: 8em;
    line-height: 132px;
    text-align: center;
  }
}

/*Section 1*/
.sec-1 {
  /* background: #e5e5e5; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #03325b;
  padding: 210px 0 210px 0;
  font-family: Domaine Sans Display;
  text-align: center;
  &__head {
    font-weight: 400;
    font-size: 150px;
    line-height: 151px;
    margin-bottom: 99px;
  }
  &__para {
    font-size: 64px;
    line-height: 77px;
    margin-top: 93px;
  }
}

/*Slider area*/
.slider {
  background: #a7c6e3;
  color: #ffff;
  padding: 188px 98px 247px 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  /* position: relative; */
  &__wrap {
    display: flex;
    width: 100%;
    max-width: 1724px;
  }
  /*Slider featured works area*/
  &__fw {
    /* position: absolute; */
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* cursor: grab; */
    gap: 40px;
    max-width: 1724px;
    /* padding-left: 98px; */
    padding-bottom: 127px;
  }
  &__child-1 {
    /* min-width: 460px; */
    padding-right: 230px;
    height: auto;
    /* outline: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__child-1-heading {
    font-family: Domaine Sans Display;
    font-style: normal;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
  }

  &__child-2-view-all-button {
    box-sizing: border-box;
    margin-top: 59px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: CircularStd;
    font-weight: 450;
    font-size: 14px;
  }

  &__child-2-view-all-button:hover {
    background: #35516b;
    border: 1px solid #35516b;
    cursor: pointer;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider__fw::-webkit-scrollbar,
.slider__2-products::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider__fw,
.slider__2-products {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*Slider products and portraits area*/
.slider__2-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 178px;
  /*below width 100% makes second slider responsive, but why?*/
  width: 100%;
  font-family: Domaine Sans Display;
}

.slider__2-wrap__headings {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 44px;
  letter-spacing: 0.01em;
}

.slider__2-wrap__headings__wrapper {
  display: flex;
  align-items: center;
  gap: 11px;
}

/* .slider__2-wrap__headings__products {
} */

.slider__2-wrap__headings__count {
  font-size: 18px;
  border: 1px solid #ffffff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Change style on selection*/
.selected {
  text-decoration: line-through 1px #35516b;
}

.selected-count {
  background-color: #35516b;
  border: 1px solid #35516b;
}

.slider__2-products {
  display: flex;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* cursor: grab; */
  gap: 40px;
  width: 100%;
  max-width: 1724px;
  /* padding-left: 98px; */
  padding-top: 98px;
}

.slider__2-products img {
  max-height: 460px;
  width: auto;
}

/*Credentials section*/
.section-cred {
  /* background: #e5e5e5; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Domaine Sans Display;
  padding-top: 550px;
  font-weight: 400;
  font-size: 64px;
}

.section-cred__heading {
  font-weight: 400;
  font-size: 150px;
  line-height: 181px;
  text-align: center;
  max-width: 840px;
  margin-bottom: 104px;
}

.section-cred__email {
  text-decoration: underline 1px;
}

.section-cred__client-image {
  max-width: 836px;
  margin-top: 121px;
  margin-bottom: -609px;
  z-index: -1;
}

.footer {
  background: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 172px 98px 84px 98px;
}

.footer__whereabouts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1724px;
  font-family: Domaine Sans Display;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 64px;
}

.footer__whereabouts-1 {
  flex: 1;
  padding-bottom: 128px;
}

.footer__address {
  max-width: 604px;
}

.footer__name {
  width: 100%;
  max-width: 1724px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-family: Sailec;
}

.footer__sub-head {
  font-family: CircularStd;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  letter-spacing: 0.705em;
  color: #6c6c6c;
}

.footer__social {
  display: flex;
  text-decoration: none;
  color: #ffff;
  position: relative;
}

.footer__social img {
  position: absolute;
  left: -14px;
  top: 50%;
}

@media (max-width: 1770px) {
  .slider__child-1 {
    padding-right: 150px;
  }
}

@media (max-width: 1281px) {
  .hero__nav-bar {
    justify-content: space-around;
  }
  .section-cred {
    padding-top: 275px;
  }
}

@media (max-width: 1199px) {
  .hero {
    min-height: 800px;
    max-height: 868px;
  }
  .hero__main-head {
    font-size: 6em;
  }
  .sec-1__head {
    font-size: 100px;
    line-height: 100px;
  }
  .sec-1__para {
    font-size: 42px;
    line-height: 51px;
    max-width: 700px;
  }
  .slider {
    padding: 85px 98px 110px 98px;
  }
  .slider__child-1 {
    padding-right: 100px;
  }
  .slider__child-1-heading {
    font-size: 42px;
    line-height: 52px;
  }
  .slider__child-2-view-all-button {
    margin-top: 40px;
    width: 75px;
    height: 75px;
    font-size: 10px;
  }
  .slider__fw {
    padding-bottom: 85px;
  }
  .slider__fw img {
    width: 307px;
  }
  .slider__2-wrap {
    margin-top: 119px;
  }
  .slider__2-wrap__headings {
    font-size: 30px;
  }
  .slider__2-wrap__headings__count {
    font-size: 12px;
    width: 26px;
    height: 26px;
  }
  .slider__2-products {
    padding-top: 66px;
  }
  .slider__2-products img {
    width: 307px;
  }
  .section-cred {
    padding-top: 184px;
    font-size: 43px;
  }
  .section-cred__heading {
    font-size: 100px;
    line-height: 120px;
    max-width: 560px;
  }
  .section-cred__client-image {
    max-width: 558px;
    margin-bottom: -406px;
  }
  .footer {
    padding: 115px 66px 56px 66px;
  }
  .footer__whereabouts {
    font-size: 30px;
    line-height: 43px;
  }
  .footer__address {
    max-width: 402px;
  }
  .footer__sub-head {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .gradient {
    height: 100px;
  }
  .hero__nav-bar {
    font-size: 12px;
    align-items: center;
  }
  .sub-heading {
    font-size: 0.8em;
  }
  .hero__main-head {
    font-size: 4em;
    max-width: 500px;
    line-height: 90px;
  }
  .sec-1 {
    padding: 150px 0 150px 0;
  }
  .sec-1__head {
    font-size: 90px;
    line-height: 100px;
  }
  .sec-1__para {
    font-size: 32px;
    line-height: 51px;
    max-width: 500px;
  }
  .slider {
    padding: 75px 68px;
  }
  .slider__child-1 {
    padding-right: 68px;
    padding-bottom: 40px;
  }
  .slider__child-1-heading {
    font-size: 35px;
  }
  .slider__child-2-view-all-button {
    margin-top: 25px;
    width: 75px;
    height: 75px;
    font-size: 10px;
  }
  .slider__fw {
    padding-bottom: 75px;
  }
  .slider__fw img {
    width: 250px;
  }
  .slider__2-wrap {
    margin-top: 75px;
  }
  .slider__2-products {
    padding-top: 60px;
  }
  .slider__2-products img {
    width: 250px;
  }
  .slider__2-wrap__headings {
    font-size: 20px;
    justify-content: space-around;
  }
  .slider__2-wrap__headings__count {
    font-size: 12px;
    width: 22px;
    height: 22px;
  }
  .section-cred {
    padding-top: 150px;
    font-size: 33px;
  }
  .section-cred__heading {
    font-size: 90px;
    line-height: 110px;
    margin-bottom: 95px;
  }
  .section-cred__client-image {
    width: 95%;
    max-width: 558px;
    margin-top: 110px;
    margin-bottom: -406px;
  }
  .footer {
    padding-top: 90px;
  }
  .footer__whereabouts {
    flex-direction: column;
  }
  .footer__whereabouts-1 {
    padding-bottom: 50px;
  }
  .footer__whereabouts-2 {
    padding-bottom: 50px;
  }
}

@media (max-width: 540px) {
  .js-burger {
    display: block;
    position: absolute;
    right: 20px;
  }
  .hero__nav-bar li:not(.hero__logo-wrap) {
    display: none;
  }
  .slider__2-wrap__headings {
    font-size: 25px;
    flex-direction: column;
  }
  .slider__wrap {
    flex-direction: column;
  }
  .slider__child-1 {
    padding-right: 0;
  }
  .section-cred__client-image {
    margin-bottom: -390px;
  }
  .footer__whereabouts {
    font-size: 25px;
  }
}

@media (max-width: 425px) {
  .hero__main-head {
    font-size: 3em;
  }
}

@media (max-width: 375px) {
  .hero {
    min-height: 500px;
    max-height: 568px;
  }
  .hero__main-head {
    font-size: 2.9em;
    max-width: 370px;
  }
  .sec-1 {
    padding: 100px 0 100px 0;
  }
  .sec-1__head {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 70px;
  }
  .sec-1__para {
    font-size: 20px;
    line-height: 40px;
    max-width: 360px;
    margin-top: 70px;
  }

  .slider {
    padding: 80px 15px;
  }
  .slider__fw {
    padding-bottom: 80px;
  }
  .slider__fw img {
    width: 200px;
  }
  .slider__2-wrap__headings {
    font-size: 25px;
    flex-direction: column;
  }
  .slider__2-wrap__headings__wrapper {
    margin-bottom: 10px;
  }
  .slider__2-products img {
    width: 200px;
  }
  .section-cred {
    padding-top: 140px;
    font-size: 23px;
  }
  .section-cred__heading {
    font-size: 50px;
    line-height: 80px;
    margin-bottom: 85px;
  }
  .section-cred__client-image {
    margin-bottom: -250px;
    margin-top: 90px;
  }
  .footer {
    padding: 90px 50px;
  }
  .footer__whereabouts {
    font-size: 20px;
    line-height: 33px;
  }
}
